.RecipeDetails {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}

.RecipeDetails-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.RecipeDetails-main-image {
  height: 60vh;
}
